NET "led<0>" LOC = P121 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P119 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P117 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P115 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P112 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P105 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P102 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P100 | IOSTANDARD = LVTTL;