CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;


NET "io_dip<15>" LOC = P57 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<14>" LOC = P58 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<13>" LOC = P66 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<12>" LOC = P67 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<11>" LOC = P74 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<10>" LOC = P75 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<9>" LOC = P78 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<8>" LOC = P79 | IOSTANDARD = LVTTL | PULLDOWN;

NET "io_dip<7>" LOC = P115 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<6>" LOC = P114 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<5>" LOC = P117 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<4>" LOC = P116 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<3>" LOC = P119 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<2>" LOC = P118 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<1>" LOC = P121 | IOSTANDARD = LVTTL | PULLDOWN;
NET "io_dip<0>" LOC = P120 | IOSTANDARD = LVTTL | PULLDOWN;

NET "pina<0>" LOC = P123 | IOSTANDARD = LVTTL;
NET "pina<1>" LOC = P126 | IOSTANDARD = LVTTL;
NET "pina<2>" LOC = P131 | IOSTANDARD = LVTTL;
NET "pina<3>" LOC = P133 | IOSTANDARD = LVTTL;
NET "pina<4>" LOC = P137 | IOSTANDARD = LVTTL;
NET "pina<5>" LOC = P139 | IOSTANDARD = LVTTL;
NET "pina<6>" LOC = P141 | IOSTANDARD = LVTTL;
NET "pina<7>" LOC = P143 | IOSTANDARD = LVTTL;

NET "pinb<0>" LOC = P100 | IOSTANDARD = LVTTL;
NET "pinb<1>" LOC = P98 | IOSTANDARD = LVTTL;
NET "pinb<2>" LOC = P96 | IOSTANDARD = LVTTL;
NET "pinb<3>" LOC = P93 | IOSTANDARD = LVTTL;
NET "pinb<4>" LOC = P88 | IOSTANDARD = LVTTL;
NET "pinb<5>" LOC = P85 | IOSTANDARD = LVTTL;
NET "pinb<6>" LOC = P83 | IOSTANDARD = LVTTL;
NET "pinb<7>" LOC = P81 | IOSTANDARD = LVTTL;
