CONFIG VCCAUX=3.3;

NET "clk" TNM_NET = clk;
TIMESPEC TS_clk = PERIOD "clk" 50 MHz HIGH 50%;

NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rst_n" LOC = P38 | IOSTANDARD = LVTTL;

NET "cclk" LOC = P70 | IOSTANDARD = LVTTL;

NET "spi_mosi" LOC = P44 | IOSTANDARD = LVTTL;
NET "spi_miso" LOC = P45 | IOSTANDARD = LVTTL;
NET "spi_ss" LOC = P48 | IOSTANDARD = LVTTL;
NET "spi_sck" LOC = P43 | IOSTANDARD = LVTTL;
NET "spi_channel<0>" LOC = P46 | IOSTANDARD = LVTTL;
NET "spi_channel<1>" LOC = P61 | IOSTANDARD = LVTTL;
NET "spi_channel<2>" LOC = P62 | IOSTANDARD = LVTTL;
NET "spi_channel<3>" LOC = P65 | IOSTANDARD = LVTTL;

NET "avr_tx" LOC = P55 | IOSTANDARD = LVTTL;
NET "avr_rx" LOC = P59 | IOSTANDARD = LVTTL;
NET "avr_rx_busy" LOC = P39 | IOSTANDARD = LVTTL;

NET "pina<0>" LOC = P58 | IOSTANDARD = LVTTL;
NET "pina<1>" LOC = P67 | IOSTANDARD = LVTTL;
NET "pina<2>" LOC = P75 | IOSTANDARD = LVTTL;
NET "pina<3>" LOC = P79 | IOSTANDARD = LVTTL;
NET "pina<4>" LOC = P81 | IOSTANDARD = LVTTL;
NET "pina<5>" LOC = P83 | IOSTANDARD = LVTTL;
NET "pina<6>" LOC = P85 | IOSTANDARD = LVTTL;
NET "pina<7>" LOC = P88 | IOSTANDARD = LVTTL;
NET "pina<8>" LOC = P93 | IOSTANDARD = LVTTL;
NET "pina<9>" LOC = P95 | IOSTANDARD = LVTTL;
NET "pina<10>" LOC = P98 | IOSTANDARD = LVTTL;
NET "pina<11>" LOC = P100 | IOSTANDARD = LVTTL;

NET "pinb<0>" LOC = P57 | IOSTANDARD = LVTTL;
NET "pinb<1>" LOC = P66 | IOSTANDARD = LVTTL;
NET "pinb<2>" LOC = P74 | IOSTANDARD = LVTTL;
NET "pinb<3>" LOC = P78 | IOSTANDARD = LVTTL;
NET "pinb<4>" LOC = P80 | IOSTANDARD = LVTTL;
NET "pinb<5>" LOC = P82 | IOSTANDARD = LVTTL;
NET "pinb<6>" LOC = P84 | IOSTANDARD = LVTTL;
NET "pinb<7>" LOC = P87 | IOSTANDARD = LVTTL;
NET "pinb<8>" LOC = P92 | IOSTANDARD = LVTTL;
NET "pinb<9>" LOC = P94 | IOSTANDARD = LVTTL;
NET "pinb<10>" LOC = P97 | IOSTANDARD = LVTTL;
NET "pinb<11>" LOC = P99 | IOSTANDARD = LVTTL;

NET "pinc<0>" LOC = P115 | IOSTANDARD = LVTTL;
NET "pinc<1>" LOC = P117 | IOSTANDARD = LVTTL;
NET "pinc<2>" LOC = P119 | IOSTANDARD = LVTTL;
NET "pinc<3>" LOC = P121 | IOSTANDARD = LVTTL;

NET "pind<0>" LOC = P114 | IOSTANDARD = LVTTL;
NET "pind<1>" LOC = P116 | IOSTANDARD = LVTTL;
NET "pind<2>" LOC = P118 | IOSTANDARD = LVTTL;
NET "pind<3>" LOC = P120 | IOSTANDARD = LVTTL;

NET "led<0>" LOC = P134 | IOSTANDARD = LVTTL;
NET "led<1>" LOC = P133 | IOSTANDARD = LVTTL;
NET "led<2>" LOC = P132 | IOSTANDARD = LVTTL;
NET "led<3>" LOC = P131 | IOSTANDARD = LVTTL;
NET "led<4>" LOC = P127 | IOSTANDARD = LVTTL;
NET "led<5>" LOC = P126 | IOSTANDARD = LVTTL;
NET "led<6>" LOC = P124 | IOSTANDARD = LVTTL;
NET "led<7>" LOC = P123 | IOSTANDARD = LVTTL;