//! **************************************************************************
// Written by: Map P.20131013 on Tue Dec 06 01:23:11 2016
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "pinb[5]" LOCATE = SITE "P85" LEVEL 1;
COMP "pinb[6]" LOCATE = SITE "P83" LEVEL 1;
COMP "pinb[7]" LOCATE = SITE "P81" LEVEL 1;
COMP "clk" LOCATE = SITE "P56" LEVEL 1;
COMP "io_dip[10]" LOCATE = SITE "P75" LEVEL 1;
COMP "io_dip[11]" LOCATE = SITE "P74" LEVEL 1;
COMP "io_dip[12]" LOCATE = SITE "P67" LEVEL 1;
COMP "io_dip[13]" LOCATE = SITE "P66" LEVEL 1;
COMP "io_dip[14]" LOCATE = SITE "P58" LEVEL 1;
COMP "io_dip[15]" LOCATE = SITE "P57" LEVEL 1;
COMP "io_dip[0]" LOCATE = SITE "P120" LEVEL 1;
COMP "io_dip[1]" LOCATE = SITE "P121" LEVEL 1;
COMP "io_dip[2]" LOCATE = SITE "P118" LEVEL 1;
COMP "io_dip[3]" LOCATE = SITE "P119" LEVEL 1;
COMP "io_dip[4]" LOCATE = SITE "P116" LEVEL 1;
COMP "io_dip[5]" LOCATE = SITE "P117" LEVEL 1;
COMP "io_dip[6]" LOCATE = SITE "P114" LEVEL 1;
COMP "io_dip[7]" LOCATE = SITE "P115" LEVEL 1;
COMP "pina[0]" LOCATE = SITE "P123" LEVEL 1;
COMP "io_dip[8]" LOCATE = SITE "P79" LEVEL 1;
COMP "pina[1]" LOCATE = SITE "P126" LEVEL 1;
COMP "io_dip[9]" LOCATE = SITE "P78" LEVEL 1;
COMP "pina[2]" LOCATE = SITE "P131" LEVEL 1;
COMP "pina[3]" LOCATE = SITE "P133" LEVEL 1;
COMP "pinb[0]" LOCATE = SITE "P100" LEVEL 1;
COMP "pina[4]" LOCATE = SITE "P137" LEVEL 1;
COMP "pinb[1]" LOCATE = SITE "P98" LEVEL 1;
COMP "pina[5]" LOCATE = SITE "P139" LEVEL 1;
COMP "pina[6]" LOCATE = SITE "P141" LEVEL 1;
COMP "pinb[3]" LOCATE = SITE "P93" LEVEL 1;
COMP "pina[7]" LOCATE = SITE "P143" LEVEL 1;
COMP "pinb[4]" LOCATE = SITE "P88" LEVEL 1;
SCHEMATIC END;

